.card {
  background: #141414;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
  max-width: 20.25rem;
  min-height: 22rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #262626;
  padding: 2rem 1.5rem;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
  border-color: var(--primary-color);
  transform: translateY(-5px);
}

.card span {
  display: flex;
  min-height: 4rem;
  align-items: end;
}

.card div {
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card h3 {
  font-size: 1.25rem;
}

.card p {
  color: var(--second-text-color);
}

.card hr {
  height: 4px;
  background: var(--secondary-color);
  width: 100%;
  border: none;
  margin-top: auto;
}
