#pricing {
  display: flex;
  flex-direction: column;
  padding-block: 5rem;
  gap: 3rem;
}

#pricing header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

#pricing header :first-child {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

#pricing p {
  color: var(--second-text-color);
}

.pricing-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: center;
  width: 100%;
  max-width: 22rem;
  height: min-content;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  background-color: #141414;
  border: 1px solid #262626;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 24px;
}

.pricing-card .hr {
  height: 1.5px;
  background-color: var(--primary-color);
  margin-block: 0.725rem;
}

.pricing-card .features {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pricing-card ul.features {
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.pricing-card ul.features li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pricing-card .plan {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pricing-card .plan p {
  font-size: var(--fs-sm);
}

.pricing-card .price {
  display: flex;
  align-items: end;
}

.pricing-card .price p {
  margin-left: 8px;
  padding-bottom: 4px;
}

.pricing-card.premium {
  border: solid 0.2rem var(--primary-color);
  padding: 0rem 1.5rem 3rem 1.5rem;
}

.pricing-card.premium .plan > h3 {
  color: var(--primary-color);
}

.pricing-card .bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 65%;
  height: 2.5rem;
  align-self: center;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.pricing-card .bonus p {
  font-size: 12px;
  font-weight: var(--fw-md);
  color: var(--light-text-color);
}

@media (width >= 1280px) {
  #pricing {
    gap: 5rem;
    padding-block: 7.5rem;
  }

  .pricing-card h3 {
    font-size: 1.25rem;
  }
}
